ip cef
ip flow-export version 9
ip flow-export source {{Flow_Interface}}
ip flow-export destination {{Server_IP}} {{UDP_Port}}
interface {{Flow_Interface}}
ip nbar protocol-discovery
ip flow ingress
ip flow egress
ip flow-top-talkers
top 5
sort-by bytes
ip flow-cache timeout active 1